.page {
    /* border: 2px solid green; */
    height: 98%;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    




}

.a {
    border: 1px solid red;

}

nav {
    height: 200px;

}

header {
    grid-row: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;



}

.head1 {
    display: flex;



    height: 100%;
    width: 100%;
}

/* main {
    display: flex;
    justify-content: center;
    height: 500px;
} */

.tex {

    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex .box{
    display: flex;
    
}

.n1 {
    position: relative;
    top: 10px;
}

.menu-list {
    align-items: end;
    display: flex;
    justify-content: flex-end;


}

.menu {
    color: black;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;

    padding: 1rem;


}

.menu:hover {
    color: green;
}



.banner-text-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;

}

.title {
    color: green;
    font-size: xx-large;
}

.search {

    height: 100px;
    display: flex;
    justify-content: center;

    width: 100%;
}

.con {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    margin: 1px;
    display: flex;
    justify-content: space-evenly;
}

.f1 {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}
/* .dropdown{
    display: none;
}
.container:hover .dropdown{
    display: block;
}
ul{
    list-style-type: none;
} */

footer {
    background-color: rgb(103, 100, 100);
    height: 50px;
    width: 100%;
}